.nav-bg{
  background-color: #000;
}
.navbar-custom li a{
  font-size: 2vh;
 padding-left:1vw;
  }

.navbar-custom{
	
	width: 100vw;
}  
.navbar-custom li:first-child{
	padding-right: 16vw;
}  
.nav-style .navbar-nav > li > a {
    color:#ddd;
}
 .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus ,.navbar-nav > .active > a:visited {
    color: #ddd !important;
 background-color: #000 !important;
}

.active
{ 
     color: #ddd !important;
 background-color: #000 !important;
}

      
 .navbar-nav > li > a:hover {
    text-decoration: none;
    color: #8099B4;
    
    
}


   
 .navbar-nav > li > a:focus,    
 .navbar-nav > li > a:visited,
 {
  text-decoration: none;
  color: #ddd;
        background-color: #000;    
}
