.nav-bg{
  background-color: #000;
}
.navbar-custom li a{
  margin-left: 25px;
 padding-left:2vw;

  }

.navbar-custom{
  
  width: 100vw;
}  
.navbar-custom li:first-child{
  margin-left: 2vw;
  padding-right: 10vw;
}  
.nav-style .navbar-nav > li > a {
    color:#ddd;
}
 .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus ,.navbar-nav > .active > a:visited {
    color: #8099B4 !important;
 background-color: #000 !important;
}

a.active
{    text-decoration: none;
     color: #8099B4 !important;
     background-color: #000 !important;
}

      
.nav-style .navbar-nav > li > a:hover {
    text-decoration: none;
    color: #8099B4;
    
    
}


   
 .navbar-nav > li > a:focus,    
 .navbar-nav > li > a:visited,
.navbar-nav > li > a:hover {
  text-decoration: none;
        background-color: #000;    
}
