
<div ng-include="'components/navbar/navbar.html'"></div>


<div id="home" class="content page1" >
<!-- Main Page contents -->
<div class="row marketing">
  <h1>Emergency App Hackathon</h1>
    <h2>Innovate.Develop.Save Lives</h2>
</div>
<a href="#about" class="arrow nav-scroll arrow2">
<img src="app/images/scroll_down.png">
</a>
</div> 

<!-- About tab -->
<div id="about" class="content page2">

<!-- Arrow mark on top.Changes on hover Link to main-->
<a href="#home" class="arrow nav-scroll arrow1">
<img src="app/images/scroll_up.png">
</a>

<!-- About content -->
<div class="row">

<div class="jumbotron col-xs-7 col-lg-4 col-sm-6" >
<p>Organised by TNHSP and IIT Madras, The Emergency Services Application Hackathon brings you the opportunity to innovate and directly impact the current structure of the 108 Emergency Services in Tamil Nadu .</p>
<p>
In case of any emergency, rapid intervention is critical in determining the outcome. The emergency service personnel have the crucial responsibility of bringing the response time to as minimal as possible.</p> 
<p>And Innovations in technology can play an integral part in achieving this goal. The aim of this hackathon is to come up with solutions that leverage the capabilities of a smart phone and integrate them with the backend infrastructure at the Call-Centre to make the flow of information fast and seamless thereby greatly increasing  the efficiency.
</p>

</div>

<img src="app/images/Computer.png" class="col-xs-4" id="comp">

</div>

<!-- Arrow on bottom of page.Changes on hover Link to faq-->
<a href="#PS" class="arrow nav-scroll arrow2">
<img src="app/images/scroll_down.png">
</a>
</div>

<div id="PS" class="content">

<!-- Arrow mark on top.Changes on hover Link to main-->
<a href="#about" class="arrow nav-scroll arrow1">
<img src="app/images/scroll_up.png">
</a>

<!-- About content -->
<div class="row">

<div class="jumbotron col-xs-7 col-lg-7 col-sm-6 theme" >
The solution should address a minimum of the following aspects:

<h2>A Smartphone Application that</h2>
<ul>
<li>relays the geo-location of the individual to the call centre</li>

<li>provides information about nearby hospitals and blood banks obtained from the call centre

or present offline</li>
</ul>

<h2>A Web Service Application that</h2>
<ul>
<li>simulates the backend infrastructure at the call centre</li>

<li>Access database of the locations of Govt. ambulances and all hospitals in Tamil Nadu</li>

<li>Logs information about every call to a database and dispatches call to nearest ambulance</li>
</ul>

<h2>A database interface to</h2>

<ul>
<li>retrieve and store data in the format specified so as to not limit its access only to the web

service application.
</li>
<br>

<p>Developing Algorithms for Analytics on the data collected is encouraged.

Any other aspect of innovation above and beyond the aforementioned in the theme of Emergency

services is highly welcome.
</p>
</div>



</div>

<!-- Arrow on bottom of page.Changes on hover Link to faq-->
<a href="#faq" class="arrow nav-scroll arrow2">
<img src="app/images/scroll_down.png">
</a>
</div>



<!-- FAQ Tab -->
<div id="faq" class="tab faq content page3" >

<!-- Arrow on top of page.Changes on hover Link to about -->
<a href="#PS" class="arrow nav-scroll arrow1">
<img src="app/images/scroll_up.png">
</a>

<!-- Panel with questions -->
<div id="panelDiv">
 

<accordion close-others="true">
    <accordion-group is-open="isopen" intially-open>
        <accordion-heading ng-click="isopen=!isopen">
           <div class="accord">
            I can have markup, too! 
           <i class="pull-right glyphicon" 
              ng-class="{'glyphicon-   chevron-down': isopen, 'glyphicon-chevron-down': !isopen}">
           </i>
           </div>
       </accordion-heading>
       This is just some content to illustrate fancy headings.
   </accordion-group>
<accordion-group is-open="isopen1" >
        <accordion-heading ng-click="isopen1=!isopen1">
           <div class="accord">
            I can have markup, too! 
           <i class="pull-right glyphicon" 
              ng-class="{'glyphicon-   chevron-down': isopen1, 'glyphicon-chevron-down': !isopen1}">
           </i>
           </div>
       </accordion-heading>
       This is just some content to illustrate fancy headings.
   </accordion-group>
   <accordion-group is-open="isopen2" >
        <accordion-heading ng-click="isopen2=!isopen2">
           <div class="accord">
            Question 3 
           <i class="pull-right glyphicon" 
              ng-class="{'glyphicon-   chevron-down': isopen2, 'glyphicon-chevron-down': !isopen2}">
           </i>
           </div>
       </accordion-heading>
       This is just some content to illustrate fancy headings.
   </accordion-group>
     <accordion-group is-open="isopen3" >
        <accordion-heading ng-click="isopen3=!isopen3">
           <div class="accord">
            I can have markup, too! 
           <i class="pull-right glyphicon" 
              ng-class="{'glyphicon-   chevron-down': isopen3, 'glyphicon-chevron-down': !isopen3}">
           </i>
           </div>
       </accordion-heading>
       This is just some content to illustrate fancy headings.
   </accordion-group>
     <accordion-group is-open="isopen4" >
        <accordion-heading ng-click="isopen4=!isopen4">
           <div class="accord">
            I can have markup, too! 
           <i class="pull-right glyphicon" 
              ng-class="{'glyphicon-   chevron-down': isopen4, 'glyphicon-chevron-down': !isopen4}">
           </i>
           </div>
       </accordion-heading>
       This is just some content to illustrate fancy headings.
   </accordion-group>
     <accordion-group is-open="isopen5" >
        <accordion-heading ng-click="isopen5=!isopen5">
           <div class="accord">
            I can have markup, too! 
           <i class="pull-right glyphicon" 
              ng-class="{'glyphicon-   chevron-down': isopen5, 'glyphicon-chevron-down': !isopen5}">
           </i>
           </div>
       </accordion-heading>
       This is just some content to illustrate fancy headings.
   </accordion-group>

</accordion>
  



</div> 


<!-- Arrow mark on bottom.Changes on hover Link to schedule-->
<a href="#schedule" class="arrow nav-scroll arrow2" >
<img src="app/images/scroll_down.png">
</a>
</div>



<div id="schedule" class="tab content page4">

<!-- Arrow mark on top.Changes on hover Link to FAQ-->
<a href="#faq" class="arrow nav-scroll arrow1" >
<img src="app/images/scroll_up.png">
</a>

<!-- About content -->
<!-- <div class="row" ng-hide="true">
<div class="jumbotron col-xs-4 sched" id="tab1">
<ul class="sch row">
<li><h2>Day1</h2></li>
<ul class="schedule">
<li><img src="app/images/registration_icon.png"></li>
<li><span>8:00 AM</span></li>
<li><label>Welcome </label></h2></li>
</ul>
<ul class="schedule row">
<li><img src="app/images/morning.png"></li>
<li><span>9:00 AM</span></li>
<li><label>Welcome </label></h2></li>
</ul>
<ul class="schedule row">
<li><img src="app/images/morning.png"></li>
<li><span>10:00 AM</span></li>
<li><label>Welcome </label></h2></li>
</ul>
<ul class="schedule row">
<li><img src="app/images/noon.png"></li>
<li><span>12:00 noon</span></li>
<li><label>Welcome </label></h2></li>
</ul>
<ul class="schedule row">
<li><img src="app/images/snacks.png"></li>
<li><span>4:00 PM</span></li>
<li><label>Welcome </label></h2></li>
</ul>
<ul class="schedule row">
<li><img src="app/images/night.png"></li>
<li><span>9:00 PM</span></li>
<li><label>Welcome </label></h2></li>
</ul>
</ul>
</div>

<div class="jumbotron col-xs-4 " >
<ul class="sch row">
<li><h2>Day2</h2></li>
<ul class="schedule">
<li><img src="app/images/morning.png"></li>
<li><span>8:00 AM</span></li>
<li><label>Welcome </label></h2></li>
</ul>
<ul class="schedule row">
<li><img src="app/images/morning.png"></li>
<li><span>9:00 AM</span></li>
<li><label>Welcome </label></h2></li>
</ul>
<ul class="schedule row">
<li><img src="app/images/noon.png"></li>
<li><span>12:00 Noon</span></li>
<li><label>Welcome </label></h2></li>
</ul>
<ul class="schedule row">
<li><img src="app/images/snacks.png"></li>
<li><span>4:00 PM</span></li>
<li><label>Welcome </label></h2></li>
</ul>
<ul class="schedule row">
<li><img src="app/images/night.png"></li>
<li><span>9:00 PM</span></li>
<li><label>Welcome </label></h2></li>
</ul>
<ul class="schedule row">
<li><img src="app/images/night.png"></li>
<li><span>11:00 PM</span></li>
<li><label>Thank You </label></h2></li>
</ul>
</ul>
</div>

</div> -->

<div class="row">
<div class="jumbotron col-xs-6 col-lg-5  sched tab1">
<ul class="sch row">
<li><h2>Structure of Event</h2></li>
<li><p>Oct 10th  Preliminary</p></li>

<li><p>Oct 15th  Shortlist release</p></li> 

<li><p>Nov 27th  Finale at IITM</p></li>

</ul>
</div>
</div>

<!-- Arrow on bottom of page.Changes on hover Link to faq-->
<a href="#contact" class="arrow nav-scroll arrow2">
<img src="app/images/scroll_down.png">
</a>
</div>



<div id="contact" class="tab content">

<!-- Arrow mark on top.Changes on hover Link to FAQ-->
<a href="#schedule" class="arrow nav-scroll arrow1" >
<img src="app/images/scroll_up.png">
</a>












<div class="row">
    <div class="col-sm-12">
      <h1>Contact</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="contact" ng-submit="query(contact)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': contact.name.$valid && submitted,
                                            'has-error': contact.name.$invalid && submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="user.name"
                 required/>
          <p class="help-block" ng-show="contact.name.$error.required && submitted">
            A name is required
          </p>
        </div>

        


        <div class="form-group" ng-class="{ 'has-success': contact.email.$valid && submitted,
                                            'has-error': contact.email.$invalid && submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="contact.email.$error.email && submitted">
            Please enter a valid email.
          </p>
          <p class="help-block" ng-show="contact.email.$error.required && submitted">
            Please enter your email address
          </p>
          <p class="help-block" ng-show="contact.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': contact.name.$valid && submitted,
                                            'has-error': contact.name.$invalid && submitted }">
          <label>Query</label>

          <textarea name="query" class="form-control" ng-model="user.query"
              required rows="5" cols="50"></textarea>
          <p class="help-block" ng-show="contact.query.$error.required && submitted">
            Please enter your doubts
          </p>
        </div>
        

        <div>
          <input class="btn pull-right btn-inverse btn-lg btn-primary" type="submit"/>
        
        </div>

        

        
      </form>
    </div>
</div>








</div>
  

